@media print {

 select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: url(../images/select-angle-down.png) no-repeat center right #FFF;
  border: 1px solid #333;
  font-size: 15px;
  padding-right: 20px;
}
  
  label{
    display: none;
  }
  body {
    background-color: #1d61e7;
    border: 0;
    font-size: 1px;
  }
  .print {
    display: block;
    background-color: #1d61e7;
    border: none;
    
  }
  .no-print {
    display: none;
    border: none;
  }

  #nomereq{

    background-color: red;
  }

#rg {
    position: fixed;
    top: 10px;
    left: 40px;
    height: max-content;
    width: max-content;
  }
  #nomereq {
    position: fixed;
    top: 35px;
    left: 40px;

  
  }
  #pai {
    position: fixed;
    top: 57px;
    left: 40px;
   
  }
  #mae {
    position: fixed;
    top: 80px;
    left: 40px;
   
  }
  #dtnasci{
    position: fixed;
    top: 105px;
    left: 215px;
    height: max-content;
    width: max-content;
  }
  #sexo {
    position: fixed;
    top: 105px;
    left: 425px;
    height: max-content;
    width: max-content;
  }
  #estadocivil {
    position: fixed;
    top: 131px;
    left: 215px;
    height: max-content;
    width: max-content;
  }
  
  #via {
    position: fixed;
    z-index: 50;
    top: 131px;
    left: 425px;
    height: max-content;
    width: max-content;
  }
  #graui {
    position: fixed;
    top: 154px;
    left: 215px;
    height: max-content;
    width: max-content;
  }
  #profissao {
    position: fixed;
    top: 174px;
    left: 215px;
    height: max-content;
    width: max-content;
  }
  #estadonatu {
    position: fixed;
    top: 198px;
    left: 215px;
    height: max-content;
    width: max-content;
  }
  #cidadenatu {
    position: fixed;
    top: 198px;
    left: 350px;
    height: max-content;
    width: max-content;
  }
  #pis {
    position: fixed;
    top: 222px;
    left: 215px;
    height: max-content;
    width: max-content;
  }
  #cpf {
    position: fixed;
    top: 240px;
    left: 215px;
    height: max-content;
    width: max-content;
  }
  #telefone {
    position: fixed;
    top: 240px;
    left: 480px;
    height: max-content;
    width: max-content;
  }
  #tipocert {
    position: fixed;
    top: 257px;
    left: 40px;
    height: max-content;
    width: max-content;
  }
  #comarca {
    position: fixed;
    top: 257px;
    left: 165px;
    height: max-content;
    width: max-content;
  }
  #distrito {
    position: fixed;
    top: 257px;
    left: 470px;
    height: max-content;
    width: max-content;
  }
  #livro {
    position: fixed;
    top: 274px;
    left: 40px;
  }
  #folha {
    position: fixed;
    top: 274px;
    left: 165px;
  }
  #termo {
    position: fixed;
    top: 274px;
    left: 325px;
  }
  #dtcert {
    position: fixed;
    top: 274px;
    left: 472px;
    z-index: 999;
    width: max-content;
    height: max-content;
  }
  #dtreg {
    position: fixed;
    z-index: 50;
    top: 274px;
    left: 630px;
    height: max-content;
    width: max-content;
  }
  #cutis {
    position: fixed;
    top: 296px;
    left: 60px;
    height: max-content;
    width: max-content;
  }
  #altura {
    position: fixed;
    z-index: 50;
    top: 296px;
    left: 590px;
    height: max-content;
    width: max-content;
  }
  #cordocabelo {
    position: fixed;
    top: 296px;
    left: 310px;
    z-index: 999;
    height: max-content;
    width: max-content;
  }

#barba {
  position: fixed;
  top: 314px;
  left: 60px;
  z-index: 999;
  height: max-content;
  width: max-content;
}

#bigode {
  position: fixed;
  top: 314px;
  left: 310px;
  z-index: 999;
  height: max-content;
  width: max-content;
}

  #cordoolho {
  position: fixed;
  z-index: 15;
  top: 314px;
  left: 570px;
  height: max-content;
  width: max-content;
}

#tipodoolho {
  position: fixed;
  top: 314px;
  left: 660px;
  height: max-content;
  z-index: 9999;
  width: 100%;
}

#anomalias {
  position: fixed;
  top: 332px;
  left: 80px;
  height: max-content;
  width: max-content;
}

#endereco {
  position: fixed;
  top: 352px;
  left: 70px;
  height: max-content;
  width: 100%;
}

#numero {
  position: fixed;
  z-index: 50;
  top: 352px;
  left: 448px;
  height: max-content;
  width: max-content;
}

#complemento {
  position: fixed;
  top: 352px;
  left: 532px;
  height: max-content;
  width: max-content;
  white-space: nowrap;
  overflow: hidden;
 text-overflow: ellipsis;
 z-index: 999999;
}

#bairro {
  position: fixed;
  top: 370px;
  left: 70px;
  height: max-content;
  z-index: 99999;
  width: max-content;
}
/* deixa comentado- alteramos de 388 para 378 */
#obs {
  position: fixed;
  top: 382px;
  left: 40px;
  border: none;
  height: max-content;
  width: max-content;
  white-space: nowrap;
   overflow: hidden;
  text-overflow: ellipsis;
}




#cep {
  position: fixed;
  top: 370px;
  left: 655px;
  height: max-content;
  width: max-content;
}
/* deixa comentado- alteramos de 405 para 415 */
.dataid1 { 
  position: fixed;
  top: 425px;
  left: 655px;
  height: max-content;
  width: max-content;
}

#usuario {
  position: fixed;
  top: 442px;
  left: 655px;
  height: max-content;
  width: max-content;
}

#posto {
  position: fixed;
  top: 425px;
  left: 657px;
  height: max-content;
  width: max-content; 
}





#estadores{
  position: fixed;
  top: 370px;
  left: 585px; 
  height: max-content;
  z-index: 99999;
  width: max-content;
  overflow: hidden;
  text-overflow: ellipsis;
  
}

/* lembrar que o nome aqui é de cidade que mora, tem que trocar no html e no banco*/
#cidaderes {
  position: fixed;
  top: 370px;
  left: 330px; 
  height: max-content;
  z-index: 99999;
  width: max-content;
}


}